# OS files
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc
*.pyo
venv/
.env
*.db

# Node
node_modules/
dist/

# IDE
.idea/
.vscode/
*.swp

# Gemini system
.gemini/

# Databases
qdrantStorage/
chroma_db/
