fastapi
uvicorn
chromadb
langchain
langchain-community
langchain-huggingface
pypdf
docx2txt
python-docx
pandas
openpyxl
fpdf
groq
python-multipart
requests
python-dotenv
sentence-transformers
einops
unstructured
