fastapi
uvicorn
python-multipart
pandas
openpyxl
python-docx
fpdf
chromadb
langchain
langchain-community
langchain-huggingface
langchain-qdrant
qdrant-client
groq
transformers
torch
huggingface-hub
sentence-transformers
fastapi
pydantic
pypdf